<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<h1>Update</h1>
<br/>
<form th:action="@{/admin/{id}/Edit(id=${user.id})}" th:method="POST" th:object="${user}">
    <label for="name">Enter name:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="last name">Enter password:</label>
    <input type="text" th:field="*{password}" id="last name"/>
    <br/>
    <ul>
        <li th:each="role : ${roleList}">
            <input type="checkbox" name="roles" th:field="*{roles}" th:value="${role}"
                   th:text="${role}" />
        </li>
    </ul>
    <br/>
    <input type="submit" value="Update"/>
</form>
</body>
</html>